@import '../../styles/settings';

.tag {
  padding: 2px $xxs-space;
  border: 1px solid $medium-grey-color;
  background: $light-grey-color;
  border-radius: $l-radius;
  @include font-styles($dark-grey-color, $mini-size, $light);
  margin-right: $xxs-space;
  margin-top: $xxs-space;
}

.remove-tag__icon {
  margin-left: $xxs-space;
}
