@import '../../styles/settings';

.button {
  &:focus {
    outline: 0 !important;
  }
}

.button--rec-solid-blue {
  @extend .button;
  margin-top: $xs-space;
  padding: $xs-space;
  border: none;
  border-radius: $s-radius;
  background: $dark-blue-color;
  box-shadow: 0px 3px 6px $medium-grey-color;
  @include font-styles($white, $medium-size, $semi-bold);
}

.button--rec-solid-grey {
  @extend .button;
  margin-left: $xs-space;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $s-radius;
  background: $medium-grey-color;
  @include font-styles($black, $small-size, $regular);
}

.button--rec-rad-solid-blue {
  @extend .button;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $l-radius;
  background: $dark-blue-color;
  @include font-styles($white, $small-size, $regular);
}

.button--rec-rad-solid-grey {
  @extend .button;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $l-radius;
  background: $medium-grey-color;
  @include font-styles($dark-grey-color, $small-size, $light);
}

.button--mini {
  height: 20px;
  @include font-styles($black, $smaller-size, $regular);
}

.button--round-white {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-blue-color;
  border-radius: $l-radius;
  background: $white;
  margin-right: $xs-space;
  @include font-styles($dark-blue-color, $medium-size, $semi-bold);
  box-shadow: 0px 2px 5px lighten($medium-grey-color, 10%);
}
