@import '../../styles/settings';

.task-ticket {
  display: grid;
  min-width: 500px;
  grid-template-columns: 50px minmax(200px, 1fr) 200px auto 16px;
  grid-template-rows: minmax(80px, auto);
  background: $light-grey-color;
  box-shadow: 2px 2px 5px lighten($medium-grey-color, 10%);
  border-radius: $s-radius;
  font-size: $smaller-size;
  color: $black;
  margin-bottom: $m-space;

  &__checkbox {
    justify-self: center;
    align-self: center;
    font-size: $large-size;
    color: $darker-blue-color;
  }

  &__desc {
    padding: $xs-space;

    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__status__date {
    border-left: 1px dashed $darker-blue-color;
    padding: $xs-space;
  }

  &__buttons {
    display: grid;
    row-gap: $xxs-space;
    padding: $xs-space;
    align-content: center;
  }

  &__color-tab {
    border-radius: 0 $s-radius $s-radius 0;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
  }
}
