@import '../../styles/settings';

.search-bar {
  width: 250px;

  &__label {
    @include font-styles($darker-blue-color, $smaller-size, $light);
  }

  &__box {
    border: solid 1px $darker-blue-color;
    border-radius: 40px;
    padding: $xxs-space $s-space;
    height: 32px;
    display: flex;
    align-items: center;
  }

  &__input {
    @include font-styles($black, $smaller-size, $regular);
    border: none;
    width: 200px;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    @include font-styles($medium-grey-color, $small-size, $light);
    margin-left: $xs-space;
  }
}
