@import '../../styles/settings';

.user-profile__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $xs-space;

  &__group-input {
    display: grid;

    label {
      @include font-styles($dark-blue-color, $smaller-size, $regular);
    }
  }

  &__input {
    width: 320px;
    padding: $xs-space;
    border: none;
    border-radius: $s-radius;
    background: $light-grey-color;
    @include font-styles($black, $small-size, $extra-light);

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include font-styles($medium-grey-color, $smaller-size, $light);
    }
  }

  &__button {
    height: 40px;
    width: 160px;
    margin-top: $s-space;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: $l-radius;
    background: $dark-blue-color;
    @include font-styles($white, $small-size, $regular);

    &:focus {
      outline: 0 !important;
    }
  }
}
