@import '../../styles/settings';

.card {
  &__container {
    display: grid;
    grid-template-rows: 40px auto;
    width: 100%;
    min-width: 385px;
    border-radius: $m-radius;
    box-shadow: 2px 2px 5px lighten($medium-grey-color, 10%);
  }

  &__header {
    border-radius: $m-radius $m-radius 0 0;
    padding-right: $xl-space;
    display: grid;
    justify-content: end;
    align-items: center;
    @include font-styles($white, $medium-size, $regular);
  }
  &__body {
    display: grid;
    row-gap: $xs-space;
    border-radius: $m-radius;
    padding: $xs-space $xl-space $xl-space $xl-space;
    @include font-styles($black, $smaller-size, $regular);
  }

  &__group-input {
    display: grid;
    overflow-wrap: break-word;

    label {
      @include font-styles($dark-blue-color, $smaller-size, $regular);
    }
  }
}
